{% extends "layout.html"%}

{% block content %}
<div class="text-center h1 text-danger"  >  Register</div>

<div class="container">
    {% from "_plantilladeayuda.html" import render_field %}
    <form method= 'POST' enctype="multipart/form-data">
      <div>
        {{ render_field(form.nombre) }}
        {{ render_field(form.correo) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        
      </div>
      <p><input type=submit value="Register" class="btn btn-info">
    </form>

</div>

{% endblock content %}
